/*字体与图标*/
@font-face {
  font-family: 'l-iconfont';  /* project id 189309 */
  src: url('//at.alicdn.com/t/font_189309_v2poa5oqc287iudi.eot');
  src: url('//at.alicdn.com/t/font_189309_v2poa5oqc287iudi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_189309_v2poa5oqc287iudi.woff') format('woff'),
  url('//at.alicdn.com/t/font_189309_v2poa5oqc287iudi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_189309_v2poa5oqc287iudi.svg#l-iconfont') format('svg');
}

[class*='l-icon']{
  font-family: 'l-iconfont' !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  vertical-align: middle;
}
.tabbar-labels [class*='l-icon']{font-size: 1.2rem; line-height: 1.2;}

.l-icon-e608:after{content: '\e608';}
.l-icon-e610:after{content: '\e610';}
.l-icon-e60c:after{content: '\e60c';}
.l-icon-e655:after{content: '\e655';}
.l-icon-e602:after{content: '\e602';}

